doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title String Services
    link(rel='stylesheet', href='css/style.css')
    script(src='js/scripts.js')
  body
    .page-container
      h1 String Services
      p Simple string operations for the lazy programmer
      .character-input
        input(id='split-on-character' placeholder="Split on..." type='text')
        button.uniform-width(id="split" onclick="splitString()") Split
        input.checkbox(type="checkbox" id="split-regex" value="isRegex") 
        | Regex
        br
        input(id='replace-on-character' placeholder="Replace on..." type='text')
        input(id='replace-with-character' placeholder="Replace with..." type='text')
        button.uniform-width(id="replace" onclick="findAndReplace()") Replace
        input.checkbox(type="checkbox" id="replace-regex")
        | Regex
        
        br
        button.encode-button(id="urlDecode" onclick="urlEncode()") Url Encode
        button.encode-button(id="base64" onclick="base64Encode()") Base64 Encode
        br
        button.decode-button(id="urlDecode" onclick="urlDecode()") Url Decode
        button.decode-button(id="base64" onclick="base64Decode()") Base64 Decode
        br
        button.format-button(id="jsonFormat" onclick="jsonFormat()") Format JSON
        .explination 
          | <- this is a WIP, it's not smart.
      textarea(id="input-body", cols="90", rows="30")
      br
      .small-plug-text
        p WIP - Latest update was 
          a(href="")#lastUpdate loading...
        a(href="https://github.com/AshleyMcVeigh/string-services") Send me feature suggestions on github
    script.
      window.onload = function(e){
        loadLastCommit();
      }