doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title String Services
    link(rel='stylesheet', href='css/style.css')
    link(rel="shortcut icon" type="image/png" href="img/favicon.png")
    script(src='js/scripts.js')
    script(type="application/ld+json").
      {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "url": "http://www.string.services",
        "name":"String Services",
        "about":{
          "description":"Simple string operations for the lazy programmer"
        },
        "audience":{
        "audienceType":"Software Developers"
        }, 
        "author":{
          "name":"Ashley McVeigh"
        },
        "isFamilyFriendly":true,
        "keywords":"string, split, url, json, encode, decode, base64",
        "thumbnailUrl": "http://www.string.services/img/favicon.png"
      }
  body
    .page-container
      h1 String Services
      p Simple string operations for the lazy programmer
      .character-input
        input(id='split-on-character' placeholder="Split on" type='text')
        button.uniform-width(id="split" onclick="splitString()") Split
        input.checkbox(type="checkbox" id="split-regex" title="regex search that automatically adds / /g to your input") 
        | Regex
        br
        input(id='replace-on-character' placeholder="Replace on" type='text')
        input(id='replace-with-character' placeholder="Replace with" type='text')
        button.uniform-width(id="replace" onclick="findAndReplace()") Replace
        input.checkbox(type="checkbox" id="replace-regex" title="regex replace that automatically adds / /g to your replace on input")
        | Regex
        
        br
        button.encode-button(id="urlDecode" onclick="urlEncode()") Url Encode
        button.encode-button(id="base64" onclick="base64Encode()") Base64 Encode
        br
        button.decode-button(id="urlDecode" onclick="urlDecode()") Url Decode
        button.decode-button(id="base64" onclick="base64Decode()") Base64 Decode
        br
        button.format-button(id="jsonFormat" onclick="jsonFormat()" title="This just runs JSON.parse + JSON.stringify(,null,2) on your input") Format JSON
        .explination 
          | <- this is a WIP, it's not smart.
        #copy
          
    textarea(id="input-body", rows="30")
    br
    .page-container
      .small-plug-text
        p WIP - Latest update was 
          a(href="")#lastUpdate loading...
        a(href="https://github.com/AshleyMcVeigh/string-services") Send me feature suggestions on github
    script.
      window.onload = function(e){
        loadLastCommit();
      }
