body {
  font-family: Arial, Helvetica, sans-serif;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
} 

.page-container {
  margin-left:20%;
  margin-right:20%;
}

.character-input {
  margin-bottom: 12px;
}

.character-input > input {
  padding: 6px;
  margin: 3px;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #C0C0C0;
}

.character-input > button {
  padding: 6px;
  margin: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  outline: none;
  border-radius: 3px;
  background-color: #626669;
  color:white;
  width: 90px;
  font-weight: 700;
}

.character-input > button:hover {
  background-color: #979EA3;
}

.character-input > button:active {
  background-color: #3F4041;
}

/* encode buttons */
.encode-button {
  background-color: #35648A !important;
  color:white;
}

.encode-button:hover{
  background-color: #668CA8 !important;
}

.encode-button:active{
  background-color: #0E3B5C !important;
}

/* decode buttons  */
.decode-button {
  background-color: #D4823F !important;
  color:white;
}

.decode-button:hover{
  background-color: #E4B271 !important;
}

.decode-button:active{
  background-color: #5C3A0E !important;
}


